Source: ros-kinetic-turtlebot3-example
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-interactive-markers, ros-kinetic-message-generation, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-visualization-msgs
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-kinetic-turtlebot3-example
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-geometry-msgs, ros-kinetic-interactive-markers, ros-kinetic-message-runtime, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-turtlebot3-bringup, ros-kinetic-visualization-msgs
Description: This package provides four turtlebot3 basic example include move using interactive marker, move and stop using LDS, move to goal position, move to custom routes.
 The interactions node is that you can control the turtlebot3 front and back side or rotate to goal position. The obstacle node is that when the robot meets an obstacle, it stops. The patrol node is that turtlebot3 move to custom route. There are 3 route(square, triangle, circle) in this package. You can add your route and move the turtlebot3. The pointop node is that you can insert goal position include distance x-axis, y-axis and angluar z-axis.
