Source: ros-kinetic-turtlebot3-teleop
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-rospy
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-kinetic-turtlebot3-teleop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-geometry-msgs, ros-kinetic-rospy
Description: Provides teleoperation using keyboard for TurtleBot3.
