Source: ros-kinetic-turtlebot3-bringup
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-diagnostic-msgs, ros-kinetic-roscpp, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-turtlebot3-msgs
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-kinetic-turtlebot3-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-diagnostic-msgs, ros-kinetic-hls-lfcd-lds-driver, ros-kinetic-joint-state-publisher, ros-kinetic-robot-state-publisher, ros-kinetic-roscpp, ros-kinetic-rosserial-python, ros-kinetic-sensor-msgs, ros-kinetic-std-msgs, ros-kinetic-turtlebot3-description, ros-kinetic-turtlebot3-msgs, ros-kinetic-turtlebot3-teleop
Description: roslaunch scripts for starting the TurtleBot3
